/*all styles to be moved to sass after chart production*/
* {
    margin: 0;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 1.6rem;
    padding: 1.6rem 0 0 0;
}

.selection-container {
    text-align: center;
    margin: 1.2rem;
}

.selection-container select {
    margin: 1.1rem;
    padding: .3rem;
    border: 1px solid black;
    border-radius: 36px;
}

.selection-container p {
    display: inline;
}

.graph-container {
    text-align: center;
}

#graphOne, #graphTwo {
    display: inline-block;
    width: 100%;
    background-color: grey;
}

#graphThree {
    display: inline-block;
    width: 100%;
    padding: 2rem 0;
}

.dc-legend-item text {
    fill: gainsboro;
}

.dc-chart .pie-slice {
    fill: #000000;
}

.dc-chart .box text, .dc-chart g.axis.x text{
    transform: rotate(45deg);
    text-anchor: start !important;
}