/*all styles to be moved to sass after chart production*/
* {
    margin: 0;
    scroll-behavior: smooth;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 1.6rem;
    padding: 1.6rem 0 0 0;
}

.selection-container {
    text-align: center;
    width:100%;
    height: 25vh;
    padding-top: 1rem;
}

.selection-container select {
    margin: 1.1rem;
    padding: .3rem;
    border: 1px solid black;
    border-radius: 36px;
}

.selection-container p {
    display: inline;
}

.graph-container {
    text-align: center;
}

#graphOne, #graphTwo {
    display: inline-block;
    width: 100%;
    background-color: grey;
}

#graphThree {
    display: inline-block;
    width: 100%;
    padding: 2rem 0;
}

.dc-legend-item text {
    fill: gainsboro;
}

.dc-chart .pie-slice {
    fill: #000000;
}

.dc-chart .box text, .dc-chart g.axis.x text{
    transform: rotate(45deg);
    text-anchor: start !important;
}

div.dc-chart {
    padding: 2rem 1.2rem;
}



/*welcome*/
/*Photo by Chris Liverani on Unsplash*/

.welcome-container {
    background-image: url(../img/posts.jpg);
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title h1 {
    background-color: #e5f0fc98;
    color: black;
    width:50%;
    box-shadow: 0 0 15px 10px #e5f0fc98;
    border-bottom-right-radius: 25px;
    padding: 2rem 0;
    margin-bottom: 0;
}

.welcome p {
    background-color: #e5f0fc98;
    color: black;
    width: 40%;
    box-shadow: 0 0 15px 10px #e5f0fc98;
    box-sizing: border-box;
    padding: .9rem 2rem .9rem 3rem;
    position: relative;
    top: 1rem;
}

.welcome .button{
    background-color: transparent;
    color: black;
    font-size: 25px;
    width: 40%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
    left: 10rem;
    top: 6rem;
    text-decoration: none;
    transition: all .6s;
}

.welcome .button:hover {
    background-color: #e5f0fc98;
}

/*table*/
#table {
    width: 100%;
}

table, th, td {
}

th {
    background-color: rgb(49, 130, 189);
    color: rgb(43, 43, 43);
    padding: 1.2rem .5rem;
}

td {
    background-color: rgb(158, 202, 225);
    color: #2b3e50;
}

td:nth-child(1){
    background-color: rgb(107, 174, 214);
}

td:last-child, th:last-child {
    padding-right: 35px;
}
